---
layout: main
---

<main class="container my-lg-7">

  <h1 class="mb-5">L'équipe</h1>

  {% include equipe.html name="Justine Barton" image="/img/equipe/justine.jpg" description="Elle porte le parfum de sa grand-mère, parle à ses plantes et considère que le potentiel festif des mardis soirs est largement sous-estimé. (Dans son temps libre, elle est assistante doctorante en droit pénal)." %}
  {% include equipe.html name="Irène Froidevaux" image="/img/equipe/irene.jpg" description="Boxeuse du dimanche et des autres jours, apprentie sorcière de la suite Adobe, 100Elles* lui a permis d’allier son intérêt pour l’espace public et ses revendications féministes. (Dans son temps libre, elle est architecte paysagiste et étudiante en urbanisme)." %}
  {% include equipe.html name="Myriam Gacem" image="/img/equipe/myriam.jpg" description="Hystérique radicale, pétillante et rageuse, elle vit pour les loulous de poméranie. Elle chante que rien n’est à perdre et tout sera gagné. ​(Dans son temps libre, elle est étudiante en psychologie)." %}
  {% include equipe.html name="Nesrine Ghulam" image="/img/equipe/nesrine.jpg" description="Sous les paillettes, la rage. Elle est convaincue que la lutte sera longue mais que tout est à gagner. (Dans son temps libre, elle est diplômée en études genre et étudie actuellement l’allemand)." %}
  {% include equipe.html name="Alicia Loretan" image="/img/equipe/alicia.jpg" description="Faiseuse d’ourlets officielle et pendulaire, elle est par-ci par-là et parfois très tard. Parlez-lui de votre amour des livres, elle vous racontera son amour du lard. (Dans son temps libre, elle est responsable de terrain d’enquête à l’OFS)." %}
  {% include equipe.html name="Clara Norambuena" image="/img/equipe/clara.jpg" description="Fuyant les grands discours, elle préfère les phrases courtes et efficaces. Elle aime rêver le monde, sur fond de cumbia féministe et goût de popcorn. (Dans son temps libre, elle est étudiante en anthropologie.)" %}
  {% include equipe.html name="Loriane Perriard" image="/img/equipe/loriane.jpg" description="Amoureuse des pangolins et du café le matin, elle est convaincue que le monde ne tourne pas rond et reste déterminée à le mettre sens dessus dessous. (Dans son temps libre, elle est étudiante en durabilité)." %}
  {% include equipe.html name="Rojin Sadeghi" image="/img/equipe/rojin.jpg" description="Prêcheuse de nihilisme positif, vous l’entendrez chantonner que rien n’est grave et qu’on va toute.x.s mourir. Elle aime le bal et il le lui rend bien. (Dans son temps libre, elle est assistante doctorante en sciences sociales)." %}
  {% include equipe.html name="Tania Spedaliero" image="/img/equipe/tania.jpg" description="Poésie rimbaldienne, tour du monde, humour fin et baskets de course. (Dans son temps libre, elle est étudiante en biologie médicale)." %}
  {% include equipe.html name="Laurène Zuber" image="/img/equipe/laurene.jpg" description="Toujours cachée, jamais égalée, si vous la trouvez, vous gagnez. Le printemps est si court, la lutte est si longue. (Dans son temps libre, elle est étudiante en études genre)." %}
</main>
