<p class="paragraph">
  Le travail accompli par un groupe d’enseignant.e.s-chercheur.ses et d'étudiant.e.s de la Faculté des lettres de l'Université de Genève dans le cadre du projet 100Elles* s'inscrit dans une démarche participative et progressive. La réflexion est constante et ses aboutissements sans cesse reconsidérés, réévalués. Aussi, tout commentaire suggérant une erreur, une modification, un ajout ou une suppression est bienvenu. N’hésitez pas à nous contacter à l'adresse email suivante: <a href="mailto:bio100elles@gmail.com">bio100elles@gmail.com</a>.
</p>

<p class="paragraph">
  Si vous faites partie de la famille de l'une des femmes* citées dans le projet 100Elles* vous pouvez également nous contacter à l'adresse: <a href="mailto:bio100elles@gmail.com">bio100elles@gmail.com</a>.
</p>
