<footer class="bg-light">
  <div class="container py-5">
    <h1 class="lead text-dark mb-4">Contact</h1>
    <a href="mailto:lescouade.geneve@gmail.com" class="social-link">
      <img src="/img/icons/mail.svg" alt="" height="60px">
    </a>
    <a href="https://www.facebook.com/lescouadegenevoise/" class="social-link">
      <img src="/img/icons/facebook.svg" alt="" height="60px">
    </a>
    <a href="https://www.instagram.com/lescouade.geneve/" class="social-link">
      <img src="/img/icons/instagram.svg" alt="" height="60px">
    </a>
    <hr class="my-5">
    <a href="https://lescouade.ch/" class="pr-5"><img src="/img/lescouade-logo.svg" height="50" alt="L'Escouade"></a>
    <img src="/img/subventionne-par-la-ville-de-geneve.svg" height="50" alt="Subventionné par la ville de Genève">
  </div>
</footer>
