<nav class="navbar navbar-light mb-5">
  <a class="navbar-brand" href="/">
    <img src="/img/100elles-logo-squared.svg" height="60" alt="100Elles* logo">
  </a>
  <button id="menu-toggler" class="navbar-toggler">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>

<nav id="nav">
  <a href="/" id="logo"><img src="/img/100elles-logo-squared--white.svg" height="60" alt="100Elles* logo"></a>
  <span id="close">X</span>
  <div class="p-3 mt-6">
    <a href="/">Accueil</a>
    <a href="/projet/explications/">Projet</a>
    <a href="/projet/explications/" class="ml-3">Explications</a>
    <a href="/projet/choix-des-noms/" class="ml-3">Choix des noms</a>
    <a href="/projet/reflexions/" class="ml-3">Réflexions</a>
    <a href="/100femmes/">100 femmes*</a>
    <a href="/visites-guidees/">Visites guidées</a>
    <a href="/evenements/">Évènements</a>
    <a href="/partenaires/">Partenaires</a>
    <a href="/lescouade/">L'Escouade</a>
    <a href="/medias/">Médias</a>
    <a href="/contact/">Contact</a>
  </div>
</nav>
