<nav class="navbar navbar-light navbar-expand-xl">
  <a class="navbar-brand" href="/">
    <img src="/img/100elles-logo-squared.svg" height="60" alt="100Elles* logo">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarToggler">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownProject" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Le projet
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownProject">
          <a class="dropdown-item" href="/projet/genese/">Genèse</a>
          <a class="dropdown-item" href="/projet/choix-des-noms/">Choix des noms</a>
          <a class="dropdown-item" href="/projet/reflexions/">Réflexions</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownEscouade" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          L'escouade
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownEscouade">
          <a class="dropdown-item" href="/lescouade/association/">L'association</a>
          <a class="dropdown-item" href="/lescouade/equipe/">L'équipe</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBio" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Biographies
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownBio">
          <a class="dropdown-item" href="/biographies/#grottes">Grottes</a>
          <a class="dropdown-item" href="/biographies/#nations">Nations</a>
          <a class="dropdown-item" href="/biographies/#banques">Banques</a>
          <a class="dropdown-item" href="/biographies/#paquis">Pâquis</a>
          <a class="dropdown-item" href="/biographies/#plainpalais">Plainpalais</a>
          <a class="dropdown-item" href="/biographies/#bel-air">Bel-air</a>
          <a class="dropdown-item" href="/biographies/#jonction">Jonction</a>
          <a class="dropdown-item" href="/biographies/#vieille-ville">Vieille-Ville</a>
          <a class="dropdown-item" href="/biographies/#eaux-vives">Eaux-Vives</a>
          <a class="dropdown-item" href="/biographies/#cornavin">Cornavin</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownVisitesGuidees" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Visites guidées
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownVisitesGuidees">
          <a class="dropdown-item" href="/visites-guidees/a-venir/">À venir</a>
          <a class="dropdown-item" href="/visites-guidees/passees/">Passées</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/partenaires-collaboration-evenements/">Partenaires, collaboration & évènements</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/medias/">Médias</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/galerie/">Galerie</a>
      </li>
    </ul>
  </div>
</nav>
