.thumbnail {
  width: 100%;
}

.pswp__caption__center {
  max-width: none !important;
}

.photo-gallery figcaption {
  display: none;
}

.photo-gallery--multi-column {
  column-count: 1;
  column-gap: 10px;
}

@media (min-width: 800px) {
  .photo-gallery--multi-column {
    column-count: 2;
  }
}

@media (min-width: 1200px) {
  .photo-gallery--multi-column {
    column-count: 3;
  }
}
