.menu {
  display: none;
}

.menu.open {
  display: block;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $primary;
  padding: .5rem 1rem;
}

.menu .nav-link {
  color: white;
}

.menu .nav-link:hover {
  color: $secondary;
}
