---
layout: main
---

{{ content }}

<div id="map" class="mt-5"></div>

{% include map-legend.html %}

<div class="container">
  <div class="row my-6">
    <div class="col-lg">
      <img src="/img/100elles-recueil-couverture.jpeg" alt="100 Elles* - Le recueil" class="img-fluid" style="width: 100%">
    </div>
    <div class="col-lg mt-3 mt-lg-0">
      <h1>Retrouvez cette biographie dans le recueil</h1>
      <p class="paragraph">L’avenue Ruth Bösiger&#8239;? La rue Grisélidis Réal&#8239;? Ou le boulevard des Trente Immortelles de Genève&#8239;? Si ces noms ne vous disent rien, c’est parce que ces rues n’existent pas. Ou pas encore... À Genève, l'Escouade a fait surgir cent femmes* du passé où elles avaient été enfouies, en installant de nouveaux noms de rues dans la ville. Le livre 100Elles*constitue le recueil de ces cent portraits illustrés.</p>
      <p class="paragraph">Cent biographies de femmes ayant marqué l'histoire du VIe au XXe siècle pour lutter contre l'effacement des figures féminines de la mémoire collective et les mécanismes patriarcaux de l’historiographie.</p>
      <p class="paragraph">Cet ouvrage est le fruit d'un travail collaboratif, local et inclusif. Rédigé par des historiennes de l’Université de Genève et réalisé sous la direction de l’Escouade, il est illustré par dix artistes genevoises, alumnae de la HEAD – Genève, partenaire du projet.</p>
      <p>
        Ouvrage disponible en librairie et sur le site des Editions Georg: <a href="https://www.georg.ch/livre-100elles">https://www.georg.ch/livre-100elles</a>
      </p>
    </div>
  </div>
</div>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgPy6dRrLffU5RIoLS5PKhJaKg6ELFyIE&callback=initMap" type="text/javascript"></script>
<script src="/js/map.js" charset="utf-8"></script>
