<!DOCTYPE html>
<html lang="fr-CH" dir="ltr">
  <head>
    {% include header.html %}
    {% seo %}
  </head>
  <body>
    {% include navbar.html %}

    <div class="home__background">
      <img src="/img/illustration_home.svg" alt="">
    </div>

    {{ content }}

    {% include footer.html %}

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDKOeiMgQFEs4cAoPlHw2NbIODkn4DNoB0&callback=initMap" type="text/javascript"></script>
    <script src="/js/map.js" charset="utf-8"></script>
  </body>
</html>
