<!DOCTYPE html>
<html lang="fr-CH" dir="ltr">
  <head>
    {% include header.html %}
    {% seo %}

    {% if page.url contains '/galerie/' %}
      <link rel="stylesheet" href="/vendors/photoswipe/photoswipe.css">
      <link rel="stylesheet" href="/vendors/photoswipe/default-skin/default-skin.css">
      <script src="/vendors/photoswipe/photoswipe.min.js"></script>
      <script src="/vendors/photoswipe/photoswipe-ui-default.min.js"></script>
    {% endif %}
  </head>
  <body>
    {% include navbar.html %}

    {{ content }}

    {% include footer.html %}
  </body>
</html>
